html {
    background: linear-gradient(rgb(123, 0, 255), rgb(0, 145, 255));
    height: 100vh;
}

*, html, body {
    font-family: monospace;
    margin: 0;
}

html:selection {
  background: purple;
}

#png {
    width: 6rem;
}

.animation-position {
    display: flex;
    justify-content: center;
    margin-top: 20ch;
}

.wrapper {
    height: 10vh;
  }
  
  .typing-animation {
    color: white;
    width: 9ch;
    animation: typing 2s, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 5em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.divider {
    height: 100%;
    border-right: 1px solid black;
    color: transparent;
    font-size: xx-large;
}

.navElements {
    background: linear-gradient(#f0f);
    padding: 20px;
    display: flex;
    justify-content: flex;
    align-items: center;
}

.navElements {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.logos {
    width: 2rem;
}

img {
  transition: transform 0.3s ease;
}

img:hover {
    cursor: pointer;
}

img:hover {
  transform: translateY(-10px);
}

.interests {
    display: flex;
    justify-content: flex-start;
    margin-top: 5;
}

.interests {
  display: flex;
  justify-content: space-evenly;
  top: 2rem;
}

.body-text {
    color: white;
    font-size: 2em;
}

.body-text {
  margin-top: 5rem;
}